.clentBox {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #eee;
}
.clientHeaderBox {
  position: relative;
  background-color: #0c82dc;
  height: 110px;
  display: flex;
  flex-direction: row;
}
.clientHeaderText {
  position: relative;
  width: 917px;
  height: 81px;
  background-color: #fff;
  top: 15px;
  left: 210px;
  background: url(../../assets/headerText.png) center no-repeat;
}
.clientNewBox {
  position: relative;
  background-color: #fff;
  width: 1470px;
  height: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #ddd;
}
.newText {
  color: #999;
  padding-bottom: 0px;
  border-bottom: 1px solid #ededed;
  margin: 0 35px;
  position: relative;
  line-height: 46px;
}
.newText span {
  font-size: 24px;
  color: #045093;
  padding-right: 15px;
  margin-right: 10px;
  font-weight: bold;
}
.newText span::after {
  display: block;
  content: "";
  position: absolute;
  left: 110px;
  top: 13px;
  width: 1px;
  height: 25px;
  background: #005dae;
}
.clientAnnouncement {
  width: 1200px;
  text-align: center;
  margin: 10px auto;
}
.clientTitle {
  font-size: 20px;
  font-family: "Microsoft YaHei";
  color: #303133;
  font-weight: bold;
}
.clientDate {
  font-size: 12px;
  font-family: "Hiragino Sans GB";
  color: #909399;
}
.clientContent {
  width: 800px;
  height: 250px;
  margin: 15px auto;
}
.contentText {
  color: #606266;
  font-size: 14px;
  font-family: "PingFang SC";
  line-height: 2;
}
.clientIssuer {
  position: relative;
  float: right;
  margin-top: 30px;
  right: 10px;
  color: #606266;
  font-size: 13px;
  font-family: "Hiragino Sans GB";
}
.orderBox {
  width: 400px;
  height: 450px;
}
.loginPhone {
  width: 300px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: center;
}
.phoneInput {
  width: 230px;
  height: 40px;
}
.clientHeader {
  height: 100px;
  display: flex;
  flex-direction: row;
}
.headerText {
  position: relative;
  left: 20px;
  font-size: 32px;
  color: #303133;
  font-family: 黑体;
}
.orderText {
  position: relative;
  left: 25px;
  top: 20px;
  margin-bottom: 50px;
  font-size: 24px;
  color: #303133;
  font-family: 黑体;
}
.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 200px;
  margin: 0;
}
.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}
.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}
