.homeBox {
  height: 600px;
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.formBox {
  width: 700px;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.tableBox {
  width: 1400px;
  height: 550px;
  margin: 0 auto;
}
