.box {
  position: absolute;
  width: 920px;
  height: 460px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  -moz-box-shadow: 2px 2px 5px #dcdfe6;
  -webkit-box-shadow: 2px 2px 5px #dcdfe6;
  box-shadow: 2px 2px 5px #dcdfe6;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}
.imgBox {
  position: relative;
  width: 530px;
  height: 460px;
}
.imgContainer {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 55px auto;
  background-image: url("../../assets/loginImg.png");
}
.loginBox {
  position: relative;
  width: 345px;
  height: 460px;
  display: flex;
  flex-direction: column;
}
.loginText {
  position: relative;
  top:74px;
  left: 72px;
  font-family: 微软雅黑;
  font-size: 20px;
  color: #5b5c5d;
  font-weight: bold;
}
.loginFrom {
  position: relative;
  width: 345px;
  height: 320px;
  top:60px;
}
.inputContainer {
  width: 250px;
  height: 10px;
  margin: 0 auto;
  margin-top: 60px;
}
.loginBtn {
  position: relative;
  width: 250px;
  height: 40px;
  margin-left: 50px;
  margin-top: 70px;
}
